
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>

<script type="text/javascript">
setTimeout(function sunrise () {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

<div class="default-page">
    <div class="header">
        <h1 id="main-title" class="container"><%= __('Emoticon server') %></h1>
        <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
    </div>
    <div class="main container clearfix">
    
        <h3>Locations of interest:</h3>
        
        <h4>User management</h4>
        <ul>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        
        <h4>Emoticon management</h4>
        <ul>
            <li><a href="/emote/submit">Submit a emoticon</a></li>
            <li><a href="/emote/edit">Edit a emoticon</a></li>
        </ul>
        
        <h4>Bulk emote management</h4>
        <ul>
            <li><a href="/emote/bulk_upload">Bulk upload</a></li>
            <li><a href="/emote/legacy_export">Export all emoticons to a json file</a></li>
        </ul>
        
        <h4>API's</h4>
        <ul>
            <li><a href="/emote/find">find/list emotes</a></li>
            <li><a href="/name/find">find/list names</a></li>
            <li><a href="/tag/find">find/list tags</a></li>
        </ul>
        
        <p>The api is generated using <a href="http://sailsjs.org/#/documentation/reference/blueprint-api">sails blueprints</a>.</p>
        
    </div>
</div>
