
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>

<script type="text/javascript">
setTimeout(function sunrise () {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

<div class="default-page">
    <div class="header">
        <h1 id="main-title" class="container"><%= __('Bulk upload emoticons') %></h1>
        <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
    </div>
    <div class="main container clearfix">
        <p><%= __("This script will import emotes from reddit_emote_scraper. It imports reddit_emote_scraper/output/emotes_metadata.min.json by default. You can import a different file if you upload it here. File upload is optional and should only be used if you would like to do something special like a partial import. Image files should still exist in reddit_emote_scraper/output/r.") %></p>
        <form action="/emote/bulk_upload" enctype="multipart/form-data" method="post">
            <input type='hidden' name='_csrf' value="<%= _csrf %>">
            <input type="file" name="json_emote_file"><br>
            <input type="submit" value="Upload">
        </form>
    </div>
</div>

